body {font-family: Arial, Helvetica, sans-serif;}
* {
    box-sizing: border-box;
}


/* ----------- My Form ----------- */
.myform{
	margin: 20px auto;
	width:400px;
	padding:14px;
}



	/* ----------- stylized ----------- */
	.myform{
		border:solid 2px #ffffff;
		background:rgba(7, 38, 100, 0.922);

	}
	h1 {
		font-size:14px;
		font-weight:bold;
		margin-bottom:8px;
	}
	p{
		font-size:11px;
		color:#ffffff;
		margin-bottom:20px;
		border-bottom:solid 1px #b7ddf2;
		padding-bottom:10px;
	}
	label{
		display:block;
		font-weight:bold;
		text-align:center;
		width:140px;
		float:left;
    color:white;
	}
	.myform .small{
		color:#ffffff;
		display:block;
		font-size:11px;
		font-weight:normal;
		text-align:center;
		width:140px;
	}
	.myform input{
		float:left;
		font-size:12px;
		padding:4px 2px;
		border:solid 1px #aacfe4;
		width:200px;
		margin:2px 0 20px 10px;
	}
	.myform button{ 
		clear:both;
		margin-left:160px;
		width:125px;
		height:31px;
		background:#444;
		text-align:center;
		line-height:31px;
		color:#FFFFFF;
		font-size:11px;
		font-weight:bold;
    border:1px solid white; 
	}

