
* {
  font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card.overview{
  font-size: 130%;
  font-weight: 600;
  
}

.header-box {
  display: flex;
  background-image: url("/images/meeting-stock.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2%;
  align-content: center;
  justify-content: center;
}
.header-box .center-text{
  display: block;
  text-align: center;
  width: max-content;
  padding: 1rem 2rem;
  font-size: xxx-large;
  background-color: rgba(201, 196, 196, 0.8);
  color: black;
  border: solid 4px rgb(160, 157, 157);
  box-shadow: 0 4px 8px 0 grey;
}


.overview{
  line-height: 2rem;
  font-size: 10;
  font-size: 135%;
}
.page{
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: rgba(14, 13, 13, 0.947); 
}
.link b{
  color:black
}
.hide {
  display: none;
  font-weight: 700;
  font-size: 130%;
}
.card a:hover + span{
  display: inline;
  color: #4287f5;
  text-decoration: underline;

  
}
.card a:hover{
  font-size: 140%;
}
.center{
  text-align:  center;
  
}

#about{grid-area: about;}
#template{grid-area: template;}
#general{grid-area: general;}
#hazards{grid-area: hazard;}
#violence{grid-area: violence;}
#flu{grid-area: flu;}
#other{grid-area: other;}

.grid-container {
  margin: 1rem 1rem 0;
  display: grid;
  grid-template-areas: 
  'about about about about'
  'template template general general'
  'template template flu flu'
  'template template hazard hazard'
  'template template violence violence'
  'template template other other ';
}

.card {
  background-color: ghostwhite;
  margin: 1rem;
  border: solid 1px rgb(7,38,100);
  border-radius: 10px;
  padding: 1rem 0.5rem 1rem 1rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  

}
.section-title{
  font-size: 1.6rem;
}


/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
/*       classes ▲ ▲ ▲           pseudoclasses ▼ ▼ ▼
/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}  

/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
/*       pseudoclasses ▲ ▲ ▲           responsive design ▼ ▼ ▼
/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
 
@media screen and (max-width: 1280px) {
  .grid-container {
    grid-template-areas: 
    'about about about about'
    'template template template template'
    'template template template template'
    'general general general general'
    'general general general general'
    'flu flu hazard hazard'
    'violence violence other other';
  }
}
@media screen and (max-width: 800px) {
  .grid-container {
    grid-template-areas:
    'about about' 
    'template template'
    'general general'
    'general general'
    'flu flu' 
    'hazard hazard'
    'violence violence' 
    'other other';
  }
} 