*{
    font-family:'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  

  .grid-container{
    grid-template-columns: auto, auto, auto, auto;
    text-align: center;
    font-family:'Open-Sans';
  }
  .news img{
    max-width: 30vw;
    max-height:30vw;
    margin-top: 40px;
}

.EmailHeading{
      text-align:center;
      margin-top: 20px;
      color:rgba(0,35,99,1);
      font-weight:900;
      font-size:30px;
      font-family:'Open-Sans';
}
.EmailBody{
    color:black;
    text-align:center;
    margin-top: 20px;
}

.EmailSignUp a{
    color:rgb(255, 255, 255);
    font-size:20px;
    padding:15px;
    border-radius: 10px;
    text-decoration: underline;
    background-color: rgb(7,38,100);
}

.footer {
    display:flex;
    align-items:center;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    color:white;
    background-color: rgb(7,38,100);
    
  }
  @media screen and (max-width:40rem){
    .footer{
      flex-direction: column;
    }
  }
  
