*{
    font-family:'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  
  }
  
  /*ALL FOR THE NAV BARS DON'T TOUCH*/
  ul {
    display:flex;
    align-items: stretch; 
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(7,38,100);
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    max-height: 4.3vw;
  }
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:1.3vw;
  }  
  .topnav {
      overflow: hidden;
      background-color: rgb(7,38,100);
    }
    .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      
    }
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }   
    .topnav a.active {
      background-color: #000000;
      color: white;
    }   
    .topnav .icon {
      display: none;
    }   
  @media screen and (max-width: 1000px) {
   .nav{
     display:none;
   }
  }  
  @media screen and (min-width: 1000px) {
    .topnav{
      display:none;
    }
  }  
  @media screen and (max-width: 1000px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block; 
    }
     .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
  .active {
    background-color: #000000;
   
  }

  .logo img {
    width:5vw;
    height:3vw;
    padding: none;
    margin:none;
  }

  .dropdown {
    float: left;
    overflow: hidden;
    
  }
  
  /* Style the dropdown button to fit inside the topnav */
  .dropdown .dropbtn {
    font-size: 17px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(7,38,100);
    color:#000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  a:link {
    color: white;
  }
  
  a:visited {
    color: white;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  
  /* Add a dark background on topnav links and the dropdown button on hover */
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
  }
  
  /* Add a grey background to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;
  }  

  /*END OF NAV BARS*/


  .ConHeading{
    text-align:center;
    margin-top: 60px;
    color:rgba(0,35,99,1);
    font-weight:900;
    font-size:50px;
    font-family:'Open-Sans';
}

.GridContainer{
    display: grid;
    padding: 10px;
    font-family:'Open-Sans';
    text-align: center;
}

.GridContainer > div{ 
    grid-template-columns: auto, auto, auto, auto, auto, auto auto, auto;
    margin: 20px;
 
   
}

.continuitypic img{
    max-width: 50vw;
    max-height:50vw;
 
}

.summary{

    text-align:left;
}

.resources{
    text-align:center;
    color:black;
}



.resources a{
    color:black;
}

