/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
/*       elements ▼ ▼ ▼
/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */

* {
    font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(252, 250, 246);
}

ul {
    display:flex;
    align-items: center; 
    justify-content: space-around;
    list-style-type: none;
    background-color: rgb(7,38,100);
    position: -webkit-sticky; 
    position: sticky;
    max-height: 4.3vw;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:1.3vw;
}

h1 {
    font-size: 42px;
    background-color: rgb(252, 250, 246);
    border: solid 2px rgb(7, 38, 100);
    border-radius: 20%;
}

/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
/*       elements ▲ ▲ ▲           classes ▼ ▼ ▼
/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */

.logo {
    width:8vw;
    height:100%;
}

.header-box {
    background-image: url("pictures/meeting.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border: solid 4px rgb(7, 38, 100);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 2%;
}

.deck {
    border: solid 8px rgb(7,38,100);
    margin: 12px auto 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: ghostwhite;
    width: 40vw;
    height: fit-content;
    margin: 20px;
    border: solid 1px rgb(7,38,100);
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.center-text {
    display: block;
    text-align: center;
}

/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
/*       classes ▲ ▲ ▲           pseudoclasses ▼ ▼ ▼
/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */

.card:hover {
    background: rgba(14, 87, 196, 0.514);
    box-shadow: 10px 10px 8px rgba(14, 87, 196, 0.514);
}  

/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
/*       pseudoclasses ▲ ▲ ▲           responsive design ▼ ▼ ▼
/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */

@media screen and (max-width: 1280px) {
    .card {
        width: 80vw;
    }
  }