/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
/*       elements ▼ ▼ ▼
/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */

* {
  font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(252, 250, 246);
}

/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
/*       elements ▲ ▲ ▲           classes ▼ ▼ ▼
/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */



.header-box {
  display: flex;
  background-image: url("pictures/meeting.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  padding: 2%;
  align-content: center;
  justify-content: center;
}
.header-box .center-text{
  display: block;
  text-align: center;
  width: max-content;
  padding: 1rem 2rem;
  font-size: xxx-large;
  background-color: rgba(201, 196, 196, 0.8);
  color: black;
  border: solid 4px rgb(160, 157, 157);
  box-shadow: 0 4px 8px 0 grey;
}

.deck {
  border: solid 8px rgb(7,38,100);
  margin: 12px auto 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background-color: ghostwhite;
  width: 40vw;
  height: fit-content;
  margin: 20px;
  border: solid 1px rgb(7,38,100);
  border-radius: 10px;
  padding: 10px 20px 20px 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}


/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
/*       classes ▲ ▲ ▲           pseudoclasses ▼ ▼ ▼
/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}  

/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
/*       pseudoclasses ▲ ▲ ▲           responsive design ▼ ▼ ▼
/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */

@media screen and (max-width: 1280px) {
  .card {
      width: 80vw;
  }
}


