*{
  font-family:'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
ul {
  display:flex;
  align-items: stretch; 
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(7,38,100);
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  max-height: 4.3vw;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:1.3vw;
}

.topnav {
    overflow: hidden;
    background-color: rgb(7,38,100);
  }
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #000000;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

 
@media screen and (max-width: 1000px) {
 .nav{
   display:none;
 }
}

@media screen and (min-width: 1000px) {
  .topnav{
    display:none;
  }
} 


@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block; 
  }
   .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.active {
  background-color: #2f302f;
}

h2{
  font-size: x-large;
}


/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
/*       elements ▲ ▲ ▲          classes ▼ ▼ ▼
/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */



.logo img {
  width:5vw;
  height:3vw;
  padding: none;
  margin:none;
}

.slogan {
  display:flex;
  border: 2px solid black;
  background-image: url("firefighter.jpg");
  background-size: cover;
  height: 350px;
  background-position: center;
  justify-content:center;
  align-items: center;
  text-align: center;
}

.slogan-text {
  font-weight:bolder;
  color:black;
  font-size: 3vw;
  background-color: rgba(252, 250, 247, 0.507);
  opacity:0.8;
  padding: 10px;
}

.events-txt {
  flex: 0 1 50%;
  margin: 10px;
  font-size: 2vw;
  text-align:center; 
}

.events-link {
  flex: 0 2 50%;
  margin: 10px;
  font-size: 2vw;
  color:blue;
  text-align: center; 
}

.mission {
  box-sizing: border-box;
  color:white;
  align-items: center;
  background-color: rgb(7,38,100);
  border-radius: 15px ;
  margin: 0.5rem;
  padding:2rem;
  text-align: center;
}
.mission p{
  font-size: large;
}


/*Main section 4x4 grid.*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  color: rgba(0, 0, 0, 0.699);
  padding: 10px;
  box-sizing: border-box;
}

.card {
  box-sizing: content-box;
  background-color: silver;
  padding: 1rem;
  text-align: center;
  font-size: larger;
  border-radius:5px;
}

.card:hover{
  background-color: rgb(28, 60, 122);
  color:white;
  /*change images to white*/
}

.grid-imgs {
  box-sizing: content-box;
  vertical-align: baseline;
  justify-content: center;
  margin: 0.5rem;
}

.card h4{
  font-size: larger;
  
}

@media screen and (max-width:50rem) {
  .grid-container {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width:40rem) {
  .grid-container {
    grid-template-columns: auto;
  }
}


/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
  
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  color:#000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.video-strip {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items:center;
  border-radius: 15px ;
  overflow: hidden;
  text-align: center;
  background-color: rgba(199, 199, 199, 0.658);
}

.video-description {
  padding: 10px;
  color: black;
}

@media screen and (max-width: 40rem) {
  .video-strip {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items:center;

  }
  .video-strip iframe{
    width: auto;
  }
}

/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
/*       classes ▲ ▲ ▲           pseudoclasses ▼ ▼ ▼
/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */

a:link {
  color: white;
}

a:visited {
  color: wheat;
}

li a:hover {
  background-color: #111;
}


/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
/*       pseudoclasses ▲ ▲ ▲           id ▼ ▼ ▼
/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */

#events {
  margin:10px 0px 10px 0px;
  display:flex;
  color:white;
  background-color: rgb(7,38,100);
}


.footer {
  display:flex;
  align-items:center;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
  color:white;
  background-color: rgb(7,38,100);
  
}
@media screen and (max-width:40rem){
  .footer{
    flex-direction: column;
  }
}








