*{
  font-family:'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
body {
    background-color: rgb(248,244,220);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h2{
  font-size: 2rem;
}

/*Slogan box*/
.slogan {
  display: flex;
  background-image: url("pictures/FireFighter1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5%;
  align-content: center;
  justify-content: center;
}


.slogan .slogan-text {
  display: block;
  text-align: center;
  padding: 1rem 2.5rem;
  font-size: 2.5rem;
  background-color: rgba(201, 196, 196, 0.8);
  color: black;
  border: solid 4px rgb(160, 157, 157);
  box-shadow: 0 4px 8px 0 grey;
}

/*Event Bar*/
.events-txt {
  flex: 0 1 50%;
  margin: 10px;
  font-size: 2vw;
  text-align:center; 

}

.events-link {
  flex: 0 2 50%;
  margin: 10px;
  font-size: 2vw;
  color:blue;
  text-align: center; 
  border-left: 2px solid white;
}
.events-link a{
  color: white;
}

.events {
  margin:10px 0px 10px 0px;
  display:flex;
  color:white;
  background-color: rgb(7,38,100);
}


/*Mission Box*/
.mission {
  box-sizing: border-box;
  color:white;
  align-items: center;
  background-color: rgb(7,38,100);
  border-radius: 15px ;
  margin: 0.5rem;
  padding:2rem;
  text-align: center;
}
.mission p{
  font-size: large;
}


/*Main section 4x4 grid.*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  color: rgba(0, 0, 0, 0.699);
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
  font-size: larger;
  text-align: center;
}

.card {
  box-sizing: border-box;
  background-color: silver;
  padding: 1rem;
  border-radius:5px;
  color:rgba(0, 0, 0, 0.699) ;
  height: 100%
}

.card a:link {
  color: rgba(0, 0, 0, 0.699);
  text-decoration: none;
  flex-grow: 1;
  flex-shrink: 1;
}

.card a:visited {
  color: rgba(0, 0, 0, 0.699);
  text-decoration: none;
}
.card a:active {
  color: rgba(0, 0, 0, 0.699);
  text-decoration: none;
}

.card a:hover {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

.card:hover{
  background-color: rgb(28, 60, 122);
  color:white
}

.card .bi {
  font-size: 3rem;
}

.card h4{
  font-size: larger;
}

@media screen and (max-width:60rem) {
  .grid-container {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width:40rem) {
  .grid-container {
    grid-template-columns: auto;
  }
}



/*Video*/
.video-strip {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items:center;
  border-radius: 15px ;
  overflow: hidden;
  text-align: center;
  background-color: rgba(199, 199, 199, 0.658);
}

.video-description {
  padding: 10px;
  color: black;
}

@media screen and (max-width: 40rem) {
  .video-strip {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items:center;

  }
  .video-strip iframe{
    width: auto;
  }
}