.loginContainer{
    display: flex;
    justify-content: center;
    margin-top: 25vh;
    margin-bottom: 25vh;
  }

  #main-holder {
    box-sizing: border-box;
    background-color: rgb(7,38,100);
    display: flex;
    width: 375px;
    display: grid;
    justify-items: center;
    /*background-color: rgb(251, 252, 241);*/
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
  }

  #login-header{
    background-color: white;
    border-radius: 7px;
    padding: 7px;
  }

  #login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  .login-form-field {
    width:100%;
    box-sizing: border-box;
    border: none;
    border: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
  }
  
  /* Style the login button */
  
  #login-form-submit {
    width: 100%;
    padding: 7px;
    margin: 7px;
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    background-color: lightgrey;
    cursor: pointer;
    outline: none;
  }
