@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
  box-sizing: border-box;
}

  body {
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  padding:0;
  display: flex;
}

/*drop down button*/
.dropdown button{
  background-color: rgb(7,38,100);
  text-decoration: none;
  color:white;
  background: none;
	border: none;
	padding: 0;
  margin-right: 2rem;
	cursor: pointer;
	outline: inherit;
  font-size: 17px;
}
.dropdown {
  display: inline-block;
  position: relative;

}
.dropdown-content {
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: -20%;
  right: 0;
  text-align: left;
  min-width: fit-content;
  width: 130%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  background-color: rgb(7,38,100); 
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a{
  display: block;
  color: #000000;
  padding: 8px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.466);
}
/*drop down content*/

/*main nav styling*/
.nav {
  background-color: rgb(7,38,100);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 30px 0px 30px;
  z-index: 90; 
}
.nav.is-active {
  display: inline-block;
}
.nav-link {
  text-decoration: none;
  display: inline-block;
  padding: 15px 10px;
  color: #212529;
  margin-bottom: 15px;
  width: 100%;
}
.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.233);
}
.nav a{
  color:white;
}


/* end main nav styling */


/* body styling */
.brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 10px 30px;
  background-color: rgb(7,38,100);
}
.brand-logo {
  text-decoration: none;
  color: #212529;
  font-size: 1.7rem;
}
.brand-text{
  font-size: larger;
  color:white;
}
.brand-logo img{
  width:80px;
  height:40px;
}
.nav-burger {
  display: none;
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
  color: white;
}
.nav-burger.is-active, .nav-cancel.is-active {
  display: block;
}
.nav-burger .bi-list {
  padding: 5px 5px;
}
/* end body styling */

/* content hide when collapsed */
#hide{
  background-color: rgb(7,38,100);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 30px 90px 0px;
  z-index: 90;
}
header .a:hover {
  background-color: rgba(0, 0, 0, 0.233);
}
#hide a{
  text-decoration: none;
  display: inline-block;
  padding: 15px 10px;
  color: #ffffff;
  margin-bottom: 15px;
  width: 115%;
}
/* end content hide */

/* media queries */
@media (max-width:768px){
  .brand-logo{
    display:none; 
  }
  .nav{
   max-width:48%;
   margin-top:70px;
   margin-left:5px;
  }
  .dropdown button{
    padding-left:10px;
  }
  .dropdown{
    display:none;
  }
  header a:hover {
    background-color: rgba(0, 0, 0, 0.233);
  }
}
@media (min-width: 768px) {
  .nav-search {
    position: static;
    width: auto;
    padding: 0;
    background-color: #fff;
  }
  #hide{
    display:none;
  }
  .nav-burger.is-active, .nav-cancel {
    display: none;
  }
}
@media (min-width: 768px) {
  .nav {
    background-color: rgba(7, 38, 100, 0.918);
    display: inline-block;
    position: static;
    text-align: center;
    padding: 10px 0px;
  }
  .nav a{
    color:white;
  }
  .nav-search-bar {
    display: none;
  }
  .nav-link {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 10px;
    width: auto;
  }
  .nav-link:hover {
    background-color: rgba(7, 38, 100, 0.918);
  }
  .nav.is-active {
    display: block;
  } 
}
/* end media queries */

/***YOUR CODE HERE****/

/****Footer****/
footer#shoe {
  display: flex;
  flex-wrap: wrap;
  flex:1;
  padding: 1.25rem 1.875rem;
  margin: 5vh 0 0 0;
  background-color: rgb(7,38,100);
  color: #bbb;
  line-height: 1.5;
  justify-content: space-around;
}

footer#shoe ul {
  list-style: none;
  padding-left: 0;
}

footer#shoe a {
  text-decoration: none;
  color: #eee;
}

footer#shoe a:hover {
  text-decoration: underline;
}

footer#shoe .bi{
  font-size: x-large;
}

.toe-tag{
  color: #fff;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}

@media (max-width:768px) {
  footer#shoe{
    flex-direction: column;
    align-content: center;
  }
}
/****Footer End****/