/*overall*/
* {
    font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
  }
  
  
  body {
    background-color: rgb(248,244,220);
      display: flex;
      min-height: 100vh;
      flex-direction: column;
  }
  
  .header-box h1 {
    font-size: 42px;
    background-color: rgb(252, 250, 246);
    border: solid 2px rgb(7, 38, 100);
    border-radius: 20%;
  }
  
  .bi{
    font-size: larger;
  }
  
  .tab {
    display: inline-block;
    margin-left: 30px;
  }
  
  
  /*Top of screen*/
  .header-box {
    background-image: url("pictures/meeting.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border: solid 4px rgb(7, 38, 100);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 2%;
  }
  .center-text {
    display: block;
    text-align: center;
  }

  
  
  
  /*Boxes*/
  .event-name {
    text-align: center;
  }
  .lessons{
    grid-area: lessons;
  }
  .files{
    grid-area: files;
  }
  .image{
    grid-area: image;
  }
  .event-name{
    grid-area: name;
  }
  .overview{
      grid-area: brief;
  }
 
  
  
  .event-container {
    margin: 12px auto;
    
    display: grid;
    grid-template-areas: 
   
    'name name name name'
    'brief brief brief brief'
    'lessons lessons lessons lessons'
    'image image files files';

  
  }
 
  .card.image{
    margin:10px 0px 10px 0px;
    display:flex;
    color:white;
    /*background-color: rgb(7,38,100);*/
    overflow: hidden;
    justify-content: center;
    text-align: center;
  
  }
  .card.image img{
  object-fit:cover;
  max-width: 90%;
  display: block;
  }
  .card {
    box-sizing: border-box;
   
    background-color: ghostwhite;
    margin: 20px;
    border: solid 1px rgb(7,38,100);
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgb(7,38,100);
  }  
  
  
  /*Footer*/
  footer {
    background-color: rgb(7,38,100);
    color: #bbb;
    line-height: 1.5;
    flex:1;
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
  }
  
  footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  footer a {
    text-decoration: none;
    color: #eee;
  }
  a:hover {
    text-decoration: underline;
  }
  footer .bi{
    font-size: x-large;
  }
  .toe-tag{
    color: #fff;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
  }
  
  .container {
    flex: 1;    /* same as flex-grow: 1; */
  }
  
  
  /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
  /*           responsive design ▼ ▼ ▼
  /* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
  
  @media screen and (max-width: 1000px) {
    .grid-container {
     
      grid-template-areas: 
     
      'when when where where'
      'rsvp rsvp rsvp rsvp'
      'agenda agenda agenda agenda';
    }
    footer {
      justify-content: space-between;
    }
  }
  @media screen and (max-width: 600px) {
    .grid-container {
     
      grid-template-areas: 
    
      'when when'
      'where where'
      'rsvp rsvp '
      'agenda agenda';
    }
      footer {
          flex-direction: column;
      }
  
  }
  
  /*nav bar*/
  .nav ul {
    display:flex;
    align-items: stretch; 
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(7,38,100);
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    max-height: 4.3vw;
  }
  
  .nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:1.3vw;
  }
  
  .topnav {
      overflow: hidden;
      background-color: rgb(7,38,100);
    }
    .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      
    }
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .topnav a.active {
      background-color: #000000;
      color: white;
    }
    
    .topnav .icon {
      display: none;
    }
  
   
  @media screen and (max-width: 1000px) {
   .nav{
     display:none;
   }
  }
  
  @media screen and (min-width: 1000px) {
    .topnav{
      display:none;
    }
  } 
  
  
  @media screen and (max-width: 1000px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block; 
    }
     .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
  .active {
    background-color: #2f302f;
  }
  
  h2{
    font-size: x-large;
  }
  .logo img {
    width:5vw;
    height:3vw;
    padding: none;
    margin:none;
  }
  /* Dropdown container - needed to position the dropdown content */
  .dropdown {
    float: left;
    overflow: hidden;
    
  }
  
  /* Style the dropdown button to fit inside the topnav */
  .dropdown .dropbtn {
    font-size: 17px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    color:#000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  a:link {
    color: white;
  }
  
  a:visited {
    color: wheat;
  }
  
  li a:hover {
    background-color: #111;
  }
  /* Add a dark background on topnav links and the dropdown button on hover */
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
  }
  
  /* Add a grey background to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .bi{
    font-size:xxx-large;
  }
  #arrow{
    font-size: large;
  }
  
  
  
  
